<app-cadastro (adiciona)="adicionaCadastro($event)"></app-cadastro> 

<form>
  <div class="content-section implementation GridDemo">
    <h3 class="first">Basic</h3>
    <div class="ui-g">
 
  </div>
  </div>
</form>

<div class="p-grid">
  <div class="p-col-8">
    <div class="p-grid">
      <div class="p-col-6">
        6
      </div>
      <div class="p-col-6">
        6
      </div>
      <div class="p-col-12">
        12
      </div>
    </div>
  </div>
  <div class="p-col-4">
    4
  </div>
</div>
